<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Weekend Special - Shale PIZZAzzz</title>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/dailysales.css">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">

  <!-- Bootstrap core JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <!--Font Awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>

  <% include common/header %>

  <div class="background">
    <div class="container-fluid">
      <div class="container py-5">
        <h1 class="h1-1 pt-3"> Weekend Special</h1>
        <hr class="hr-1">
        <br>
        <p class="p-1 text-light"><i class="far fa-hand-point-right text-warning"></i> Call 1900 1900 or
          <a href="/menu" class="btn btn-warning btn-lg font-weight-bold" style="font-size: 30px; color: #C4191E;">Order Now</a>
        </p>
      </div>
    </div>
  </div>
  <!-- Weekend -->
  <div class="container-fluid bg-dark">
    <div class="container py-3" id="weekend">
      <div class="row m-3">
        <h2 class="font-1 text-warning mt-lg-3">WEEKEND SPECIAL / COMBO OFFERS</h2>
      </div>
      <hr class="bg-warning">
      <div class="row">
        <div class="col-2">
          <a href="#"><img class="w-100 rounded-circle" src="../img/sw4_1.jpg" alt=""></a>
        </div>
        <!-- div col-8 noi dung item -->
        <div class="col-5 text-light">
          <h3 class="card-title text-warning">Discount 40% - Order Now</h4>
            <h5 class="price-text">Discount 40% for pizza 9 inch and 12 inch.</h5>
            <p class="card-text">*For online order on Wednesday, Thursday and Friday everyweek</p> <!-- Button -->
            <div class="inline-group">
              <button class="btn btn-warning font-weight-bold btn-sm">Order Now</button>
            </div>

            <!-- end div botton -->
        </div>
        <div class="col-5 ">
          <img class="w-100" src="img/combo1.jpg" alt="">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-5 pt-2">
          <img class="w-100" src="img/combo2.jpg" alt="">

        </div>
        <div class="col-5 text-light">
          <h3 class="card-title text-warning">Discount 50% - Order Now</h4>
            <h5 class="price-text">Discount 50% for Drink and Sandwiches.</h5>
            <p class="card-text">*For offline order on Wednesday, Thursday and Friday everyweek</p> <!-- Button -->
            <div class="inline-group">
              <button class="btn btn-warning font-weight-bold btn-sm">Order Now</button>
            </div>
            <!-- end div botton -->
        </div>

        <div class="col-2">
          <a href="#"><img class="w-100 rounded-circle" src="../img/sw4_1.jpg" alt=""></a>
        </div>

        <!-- end div col-8 noi dung item -->
      </div>

      <div class="row mt-5 mb-5">
        <div class="col-2">
          <a href="#"><img class="w-100 rounded-circle" src="../img/sw4_1.jpg" alt=""></a>
        </div>
        <!-- div col-8 noi dung item -->
        <div class="col-5 text-light">
          <h3 class="card-title text-warning">Buy 1 Get 1 - Order Now</h4>
            <h5 class="price-text">Buy 1 GET 1 for pizza 9 inch and 12 inch.</h5>
            <p class="card-text">*For online order on Sunday everyweek</p> <!-- Button -->
            <div class="inline-group">
              <button class="btn btn-warning font-weight-bold btn-sm">Order Now</button>
            </div>

            <!-- end div botton -->
        </div>
        <div class="col-5">
          <img class="w-100" src="img/combo1.jpg" alt="">
        </div>
      </div>



    </div>

  </div>

  <!-- Combo -->

  <% include common/footer %>

  <script src="js/side-nav.js"></script>
  <script src="js/validate-form.js"></script>
</body>

</html>
