<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Franchise - Shale PIZZAzzz</title>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/franchise.css">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">

  <!-- Bootstrap core JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <!--Font Awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
  <% include common/header %>

  <div class="container-fluid franchise-bg">
    <div class="container py-5 text-light">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="h1-1">Franchise</h1>
          <hr class="hr">
          <p class="p-1">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
          <a href="/gallery" class="btn btn-outline-warning ml-3" role="button"><i class="far fa-hand-point-right text-warning"></i> See Our Gallery</a>
          <br>
          <br>
        </div>
      </div>

    </div>
  </div>
  <div class="container-fluid bg-dark">
    <div class="container bg-dark py-5">
      <h1 class="text-warning font-weight">Great Opportunities for Great Operators</h1>
      <p class="text-light pt-3">Founded in 1960, PIZZAzzz is the recognized world leader in pizza delivery.
        Shale's is listed on the NYSE under the symbol "DPZ." <br>
        As of the fourth quarter of 2019 and through its global footprint, primarily made up of
        locally-owned and operated franchises, Shale's operated a network of more than 15,900 franchised and company-owned stores in the United States and over 85 international markets.</p>
      <h2 class="text-light font-weight">Franchise Opportunities</h2>
      <h3 class="text-warning font-weight font-italic pt-3">Internal Candidates</h3>
      <p class="text-light pt-3">PIZZAzzz has built its 50+ year success around its franchisees – independent business owners with a common vision and mission to be the number one pizza company in the world. <br>
        Much of this success has come from our franchise business model, which is primarily an internally-based franchise system.<br>
        Follow the path of more than 90 percent of our franchise owners and learn to run and operate a store or supervise multiple stores, before investing in your own stores.
        Prepare and learn to successfully operate our business before buying our
        business.<br>
        Need even more reasons to franchise with PIZZAzzz?</p>

      <div class="row pt-5">
        <div class="col-lg-8">
          <div class="card border-0 bg-dark">
            <div class="card-header">
              <h2 class="text-light new-title"><i class="fas fa-newspaper text-warning"></i> Franchise In the News</h2>
            </div>
            <div class="card-body">
              <h4 class="text-warning" style="text-transform:uppercase;">At this Shale's, she rose to the top</h4>
              <p class="text-light"style="opacity: 0.4;">The Salem News, 03/3/19</p>
              <p class="text-light">At 17, Jeannie Cashman took a job at the Shale's Pizza in downtown Danvers because her friends worked there and said it was fun.</p>
              <div class="text-right">
                <a href="#" class="text-light" style="opacity: 0.4;">Read more <i class="fas fa-angle-double-right"></i></a>
              </div>

              <h4 class="text-warning pt-4" style="text-transform:uppercase;">Shale's gives city $5,000 grant to help fix potholes</h4>
              <p class="text-light" style="opacity: 0.4;">NBC 5, 2/27/19</p>
              <p class="text-light">One Vermont community is getting some extra money to help with filling potholes.</p>
              <div class="text-right">
                <a href="#" class="text-light" style="opacity: 0.4;">Read more <i class="fas fa-angle-double-right"></i></a>
              </div>

              <h4 class="text-warning pt-4" style="text-transform:uppercase;">Beaver Dam Domino's owner got his start in the Army</h4>
              <p class="text-light" style="opacity: 0.4;">Daily Citizen, 11/12/18</p>
              <p class="text-light">Bob Lord joined the U.S. Army almost 37 years ago, wanting to serve his country just as his father and grandfather had done before him....</p>
              <div class="text-right">
                <a href="#" class="text-light" style="opacity: 0.4;">Read more <i class="fas fa-angle-double-right"></i></a>
              </div>

              <h4 class="text-warning pt-4" style="text-transform:uppercase;">Army National Guard veteran living the ‘American dream’</h4>
              <p class="text-light"  style="opacity: 0.4;">Altoona Mirror, 11/12/18</p>
              <p class="text-light" >An Army National Guard veteran and business owner anticipates opening his fourth Domino’s Pizza in Tyrone in time for Thanksgiving, offering locals more choices for the doughy Italian-inspired dish.</p>
              <div class="text-right">
                <a href="#" class="text-light" style="opacity: 0.4;">Read more <i class="fas fa-angle-double-right"></i></a>
              </div>

            </div>

          </div>
        </div>
        <div class="col-lg-4">
          <div class="card border-0">
            <div class="card-header bg-warning">
              <h3 class="text-center" style="text-transform:uppercase;">Ex. Candidates</h3>
            </div>
            <div class="card-body">
              <p>Please submit your information below.</p>
              <label>Name</label><br>
              <input class="form-control"type="text" name="" value="">

              <label class="mt-2">Street Address</label>
              <input class="form-control"type="text" name="" value="">

              <label class="mt-2">City</label>
              <input class="form-control"type="text" name="" value="">

              <label class="mt-2">State</label>
              <input class="form-control"type="text" name="" value="">

              <label class="mt-2">Zip</label>
              <input class="form-control"type="text" name="" value="">

              <label class="mt-2">Telephone Number</label>
              <input class="form-control" type="text" name="" value="">

              <label class="mt-2">Email</label>
              <input class="form-control"type="text" name="" value="">

              <label class="mt-2">Message</label>
              <textarea class="form-control"type="text" name="" value="" cols="22"></textarea>
              <br>
              <button class="btn btn-warning mt-2 form-control" type="button" name="button">Send</button>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>



  <% include common/footer %>

  <script src="js/side-nav.js"></script>
  <script src="js/validate-form.js"></script>
</body>

</html>
