<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Gallery - Shale PIZZAzzz</title>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/gallery.css">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" >

  <!-- Bootstrap core JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <!--Font Awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
	<% include common/header %>

  <!-- Header -->
  <div class="header bg-dark text-light">
    <h1 style="font-family: Book Antiqua, serif;" >Our GALLERY </h1>
    <hr class="hr">
    <p class="p">
      At Shale PIZZAzzz, we're obsessed by pizza. <br>
      Pizza is just not food. Pizza is art.
    </p>

	<!-- Photo Grid -->
  <div class="row py-5">
    <div class="column">
      <img  class="img" src="../img/gallery/gallery1.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery2.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery3.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery4.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery5.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery6.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery7.jpg" style="width:100%">
    </div>
    <div class="column">
      <img class="img" src="../img/gallery/gallery8.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery9.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery10.jpeg" style="width:100%">
      <img class="img" src="../img/gallery/gallery11.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery12.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery13.jpg" style="width:100%">
    </div>
    <div class="column">
      <img class="img" src="../img/gallery/gallery14.jpeg" style="width:100%">
      <img class="img" src="../img/gallery/gallery15.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery16.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery17.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery18.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery19.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery20.jpg" style="width:100%">
    </div>
    <div class="column">
      <img class="img" src="../img/gallery/gallery21.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery22.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery23.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery24.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery25.jpg" style="width:100%">
      <img class="img" src="../img/gallery/gallery26.jpg" style="width:100%">
    </div>
  </div>

  </div>

    <% include common/footer %>

    <script src="js/side-nav.js"></script>
    <script src="js/validate-form.js"></script>

</body>
