<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Stores Location - Shale PIZZAzzz</title>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="css/footer.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/location.css">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">

  <!-- Bootstrap core JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  <!--Font Awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
</head>

<body>

    <% include common/header %>

    <div class="container-fluid location-bg">
  		<div class="container py-5">
  			<div class="row">
  				<div class="col-lg-6">
  					<h1 class="h1-1">Stores Location</h1>
  					<hr class="hr">
  					<p class="p-1">We have more than 1000 restaurants across the countries. Join with us everywhere you want.</p>
  				<br>
          <form class="form-inline" action="">
            <input class="form-control mr-sm-2" type="text" placeholder="Search for stores">
            <button class="btn btn-outline-warning" type="submit">Search <i class="fas fa-search"></i></button>
          </form>
  				<br>
  				</div>
  			</div>
  		</div>
  	</div>

    <div class="bg-dark text-light">
    <div class="container py-3">
    <div class="row">
      <div class="col-lg-12 pt-3">
        <h2 class="h2">Located by Google Maps</h2>
        <hr class="hr">
        <br>
        <section class="wow fadeInUp" data-wow-offset="300" style="visibility: visible; animation-name: fadeInUp;">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1UylM9NrlKg5ZpimdMSAzZ8WAMMooJIMd" width="100%" height="400"></iframe>
          </div>
        </section>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-lg-6">
        <h2 class="h2">Explore by State</h2>
        <hr class="hr">
        <h5>NEW SOUTH WALES</h5>
        <p class="text-warning">Sydney<br>
          Randwick<br>
          Wollongong
        </p>
        <h5>NORTHERN TERRITORY</h5>
        <p class="text-warning">Canberra<br>
            Darwin<br>
          </p>
        <h5>QUEENSLAND</h5>
          <p class="text-warning">Brisbane<br>
          Cairns<br>
          Townsville<br>
          Carina<br>
          Toowoomba<br>
            </p>
      </div>

      <div class="col-lg-6">
        <h2 class="h2">Open</h2>
        <hr class="hr">
        <p>Sun-Wed <br>
          <span class="text-warning">12:00pm -10:00pm</span><br>
        Thu <br>
        <span class="text-warning">12:00pm -11:00pm</span><br>
        Fri & Sat  <br>
        <span class="text-warning">12:00pm -12:00am</span><br>
        <i class="fas fa-hand-point-right text-warning"></i> Delivery 24h</p>
      </div>

    </div>

    </div>
    </div>

    <% include common/footer %>

  <script src="js/side-nav.js"></script>
  <script src="js/validate-form.js"></script>
</body>

</html>
