@media (max-width: 768px) {
  #big-menu {
    display: none
  }
}

.bg_dark {
  background-color: #000;
}
.font-text-1{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #FF9F00;

}
@media (min-width:768px) {
  #menu-min {
    display: none;
  }
}
	.feedback-bg {
		background-image: url("../img/feedback-bg.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.h1-1 {
		color: white;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		font-size: 43px;
	}
	.hr {
		border: solid 1px;
		color: #FF9F00;
	}
	.p-1 {
		color: white;
		font-size: 18px;
	}
	.h3-1 {
		font-family: "Arial", Gadget, sans-serif;
	}
  .h3-2 {
		font-family: courier;
	}
	.text-1 {
		font-size: 18px;
	}
	.submit-icon {
		color: #C4191E;
	}
