<h2 class="mt-lg-4">Good Morning, T1809E</h2>
<p class="mt-lg-1">Here’s what’s happening with your store today.</p>
<div class="row">
  <div class="col-lg-6">
    <img class="mt-lg-1" src="../img/admin_1.png" alt="">
  </div>
  <div class="">
    <img class="" src="../img/admin_2.png" alt="">
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <img class="mt-lg-3"  src="../img/admin_3.png" alt="">
    <img class="mt-lg-3" src="../img/admin_6.png" alt="">
  </div>
  <div class="col-lg-4">
    <img class="mt-lg-3"  src="../img/admin_4.png" alt="">
    <img class="mt-lg-3"  src="../img/admin_7.png" alt="">
  </div>
  <div class="col-lg-4">
    <img class="mt-lg-3"  src="../img/admin_5.png" alt="">
    <img class="mt-lg-3"  src="../img/admin_8.png" alt="">
  </div>
</div>
