<div class="mt-lg-4">
	<h2>Orders</h2>
	<nav class="navbar navbar-expand-lg bg-light">
		  <!-- Links -->
		  <div class="row">
		  <ul class="navbar-nav col-lg-10">

			<li class="" style="width:120px;">
				  <a class="nav-link"href="#"><i class="fas fa-cart-arrow-down"></i> Export</a>
			</li>

			<li class="" style="width:200px;">
			  <a class="nav-link" href="#"><i class="fas fa-chevron-circle-down"></i>More actions</a>
			</li>

		  </ul>
		</div>
	</nav>
<div class="">
  <img class=""  style="width:1250px;" src="../img/img11.png" alt="">
  <img class=""  style="width:1250px;" src="../img/img12.png" alt="">
</div>

</div>
