<div class="container-fluid footer-bg">
	<div class="container footer py-4">
		<div class="row pb-4">
			  <div class="col-lg-3 col-sm-6 pb-3">
				<h5>SHALE PIZZAzzz</h5>
				<a href="/menu" class="footer-link" target="_blank">Our Menu</a><br>
				<a href="../img/menu.pdf" class="footer-link" download="">Menu Download</a><br>
				<a href="/dailysales#weekend" class="footer-link" target="_blank">Weekend Special</a><br>
				<a href="/dailysales#combo" class="footer-link" target="_blank">Combo offers</a><br>
				<a href="/gallery" class="footer-link" target="_blank">Gallery</a><br>
			  </div>
			  
			  <div class="col-lg-3 col-sm-6 pb-3">
				<h5>CONTACT US</h5>
				<a href="" class="footer-link" target="_blank">Call 1900 1900</a><br>
				<a href="/contact" class="footer-link" target="_blank">Contact Details</a><br>
				<a href="/feedback" class="footer-link" target="_blank">Feedback</a><br>
			  </div>
			  
			  <div class="col-lg-3 col-sm-6 pb-3">
				<h5>HELP</h5>
				<a href="/location" class="footer-link" target="_blank">Store Locations</a><br>
				<a href="/homepage" class="footer-link" target="_blank">Register</a><br>
			  </div>
			  
			  <div class="col-lg-3 col-sm-6 pb-3">
				<h5>CORPORATE</h5>
				<a href="/franchise" class="footer-link" target="_blank">About Us</a><br>
				<a href="/franchise" class="footer-link" target="_blank">Franchising</a><br>
			  </div>	  
		</div>
		<p class="text-center">
			<i class="fab mr-4 fa-facebook footer-icon "></i>
			<i class="fab mr-4 fa-youtube footer-icon"></i>
			<i class="fab mr-4 fa-twitter footer-icon"></i>
			<i class="fab mr-4 fa-instagram footer-icon"></i>
		</p>
		<p class="text-center">Privacy | Online Terms and Conditions</p>
		<p class="text-center">Copyright &copy; Shale PIZZAzzz Joint Stock Company</p>
		
		
	</div>
</div>

<div class="container-fluid footer bg-secondary py-2">
		<p class="text-center">
			Design by Group 2 &copy; T1809E - 2019<br>
			<i class="fab fa-html5 footer-icon-1"></i>
			<i class="fab fa-node-js footer-icon-1"></i>
			<i class="fab fa-bootstrap footer-icon-1"></i>
			<i class="fas fa-pizza-slice footer-icon-2"></i>
			<i class="fab fa-github footer-icon-1"></i>
			<i class="fas fa-atom footer-icon-1"></i>
			<i class="fab fa-chrome footer-icon-1"></i>
		<p>
</div>
